body{
	margin: 0;
}
.nav-bar{
	width: 100%;
	height: 45px;
	position: fixed;
	background: #e6ecf0;
	z-index: 10;
}
.logo{
	height: 35px;
	width: 25px;
	padding-left: 20px;
	float: left;
}
.logo-holder{
	margin-top: 5px;
	border-bottom: 2px solid #db1464;
	height: 40px;
}
.menu-holder{
	float: right;
	text-align: left;
	width: 560px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li{
	float: left;
	width: 140px;
	height: 30px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
}
ul li ul li{
	display: none;
	background: #e6ecf0;
	border-radius: 5px;
	border-bottom: 1px solid #585858;
}
ul li:hover ul li{
	display: block;
}
ul li a{
	padding-left: 10px;
	padding-right: 5px;
	text-decoration: none;
	font-size: 16px;
	font-family: Comic Sans MS;
	color: #db1464;
}
ul li a:hover{
	color: #99FF66;
}
ul li a.active{
	color: #99FF66;
}
.home{
	height: 20px;
	width: 22px;
	padding-right: 5px;
}
.home:hover{
	color: #99FF66;
}
.notification{
	height: 20px;
	width: 20px;
	padding-right: 5px;
}
.message{
	height: 20px;
	width: 22px;
	padding-right: 5px;
}
.my{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	border: 2px solid #db1464;
}
.search{
	float: left;
	padding-left: 40px;
}
.search a, .search input[type=text]{
    float: left;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 8px;
}
.search input[type=text]{
    border: 1px solid #db1464;
    border-radius: 50px;
}
.cover-box{
	width: 100%;
	height: 150px;
	background: #b4b3b3;
	color: #fff;
	box-sizing: border-box;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 1px solid #ff66cc;
	position: relative;
	z-index: -1;
}
.profile-box{
	width: 100%;
	height: 100%;
	color: #fff;
	position: relative;
	box-sizing: border-box;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-top: 70px;
	border-radius: 10px;
	border: 1px solid #ff66cc;
	margin-right: 5px;
	float: left;
	background: #fff;
	z-index: -1;
}
.tauko{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: -80px;
	left: calc(50% - 75px);
	border: 2px solid #db1464;
}
.main{
	padding-top: 55px;
	margin: 0 5px;
}
.profile-pic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
}
.me {
	color: #585858;
	font-family: Comic Sans MS;
	font-size: 14px;
}
h1{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #db1464;
}
h1:hover{
	color: #99FF66;
}
.me p{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}

.profile-navbar{
	width: 100%;
	height: 50px;
	position: relative;
	float: left;
	border-radius: 10px;
	font-family: Comic Sans MS;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-right: 5px; 
	background: #fff;
	border: 1px solid #ff66cc;
}
.cells{
	list-style-type: none;
	margin: 0;
	padding-left: 80px;
	color: #ff66cc;
}
.cell-1{
	font-size: 15px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.cell-1-no{
	font-size: 20px;
	transform-origin: top;
	text-align: center;
}
.news{
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
	box-sizing: border-box;
	padding-left: 30%;
	padding-bottom: 10px;
	padding-right: 30%;
	padding-top: 10px;
	border-radius: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
.news p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #ff66cc;
	font-size: 15px;
	font-family: Comic Sans MS;
}
.news input{
	width: 100%;
	margin-bottom: 15px;
}
.news input[type="text"], .news input[type="password"]{
	border: 1px solid #585858;
	background: transparent;
	outline: none;
	height: 20px;
	color: #000;
	font-size: 16px;
	font-family: Comic Sans MS;
}
.news input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #ff66cc;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	font-family: Comic Sans MS;
}
.news input[type="submit"]:hover{
	cursor: pointer;
	background: #99FF66;
	color: #000;
}
select{
	width: 100px;
	margin-bottom: 20px;
	background: transparent;
	color: #585858;
	font-size: 16px;
	border: 1px solid #585858;
	font-weight: bold;
	font-family: Comic Sans MS;
}
}
.news input[type="date"]{
	background: transparent;
	border: 1px solid #585858;
	font-size: 18px;
}
.news input[type="tel"]{
	background: transparent;
	border: 1px solid #585858;
	height: 20px;
}
.news a{
	text-decoration: none;
	font-size: 14px;
	color: #000;
}
.news a:hover{
	color: #99FF66;
}
textarea{
	margin-bottom: 10px;
}
.near-you{
	float: right;
	position: relative;
	width: 100%;
	height: 500px;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-top: 10px;
	border-radius: 10px;
	border: 1px solid #ff66cc;
	box-sizing: border-box;
	background: #fff;
	z-index: -1;
}
.near-you-header{
	color: #000;
	font-size: 25px;
	font-family: Comic Sans MS;
	text-align: center;
	margin-bottom: 20px;
}
.near-you-1{
	height: 60px;
	width: 205px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-bottom: 15px;
	border: 1px dotted #ff66cc;
	border-radius: 20px;
}
.near-you-1-pic{
	width: 50px;
	padding: 3px;
	position: relative;
	float: left;
}
.pic-1{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid #db1464;
}
.pic-1:hover{
	border: 1px solid #99FF66;
	cursor: pointer;
}
.near-you-1-details{
	width: 60%;
	color: #000;
	font-size: 14px;
	font-family: Comic Sans MS;
	text-align: center;
	float: left;
	position: relative;
}
.near-you-1-details p{
	font-size: 18px;
	font-family: Comic Sans MS;
	color: #db1464;
	margin-bottom: 5px;
	margin-top: 0;
}
a:link{
	text-decoration: none;
}
.near-you-1-details p:hover{
	color: #99FF66;
	cursor: pointer;
}
.left-row{
	float: left;
	height: 100%;
	width: 21.7%;
	margin-right: 5px;
}
.right-row{
	float: left;
	height: 100%;
	width: 21.7%;
}
.middle-row{
	float: left;
	height: 100%;
	width: 55.8%;
	margin-right: 5px;
}
.no-more{
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 18px;
	color: #585858;
}
.footer-box{
	width: 100%;
	height: 100%;
	color: #585858;
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 16px;
	position: relative;
	box-sizing: border-box;
	padding-left: 15px;
	padding-bottom: 20px;
	padding-right: 15px;
	padding-top: 20px;
	border-radius: 10px;
	border: 1px solid #ff66cc;
	margin-right: 5px;
	float: left;
	background: #fff;
	margin-top: 5px;
	z-index: -1;
}
main{
	background: rgba(0, 0, 0, 0.5);
	height: 835px;
}